@import "ui-variables";
@import "ui-mixins";
@todoist-red: #e24233;
@todoist-grey: #fafafa;

.n1todoist-maillabel{
  border: 1px solid @todoist-red;
  background-color: #FFF;
  color: @todoist-red;
}

.thread-list .focused .mail-label.n1todoist-maillabel{
  border: 1px solid @todoist-red !important;
  background-color: @todoist-red !important;
  color: #FFF !important;
}


.n1todoist-wrapper{
  width: ~"calc(100% + 30px)";
  position: relative;
  left: -15px;
  margin-top: -10px;
  padding: 5px 0 55px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  background-color: @todoist-grey;
  font-family: 'Nylas-Pro';

  .n1todoist-loading{
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: @todoist-grey;
    color: #000;
    opacity: 0;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s linear, opacity 0.2s linear;

    .n1todoist-loadingtext{
        flex: 1;
        text-align: center;
    }
  }

  &.loading{
    .n1todoist-loading{
      visibility: visible;
      opacity: 1;
      transition-delay:0s;

    }
  }



  .n1todoist-header{

    border-bottom: 2px solid @todoist-red;
    padding: 0 15px 5px 15px;
  }

  .n1todoist-content{

    padding: 5px;
  }

  .n1todoist-textinput{
    border: none;
    border-bottom: 1px solid #444;
    border-radius: 0;
    background-color: transparent;
    -webkit-appearance: none;
    margin-bottom: 5px;

    &:focus{
      outline: none;
      border: none;
      border-bottom: 1px solid #444;
      box-shadow: none;
      border-color: #000;
    }
  }

  .n1todoist-logintext{
    text-align: center;
    margin: 5px 0;
  }
  .n1todoist-loginbtn,
  .n1todoist-save{
    background-color: @todoist-red;
    border: none;
    height: 30px;
    width: 100%;
    color: #FFF;
  }

  .n1todoist-footer{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 5px;
    height: 23px;
    text-align: center;
  }

  .n1todoist-logout{
    -webkit-appearance: none;
    background: #FFF;
    border: 0;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;

  }
}

@-webkit-keyframes display-none-transition {
  0% {
    opacity: 0;
    display: flex;
  }
  100% {
    opacity: 1;
  }
}

@keyframes display-none-transition {
  0% {
    opacity: 0;
    display: flex;
  }
  100% {
    opacity: 1;
  }
}
